.top-bar {
  background-color: #F7F7F5;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3%; // Fixed height in pixels
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  @media screen and (max-width : 800px){
    width: auto;
  }
}

nav a {
  font-size: 22px;
  color: #4d4d4e;
  padding: 0 15px;
  text-decoration: none;
  @media screen and (max-width : 800px) {
    padding: 0 7px; // Adjust spacing around the divider
  }
  }


  .divider {
    color: #4d4d4e; // Color of the divider
    padding: 0 15px; // Adjust spacing around the divider
    @media screen and (max-width : 800px)  {
      padding: 0 7px; // Adjust spacing around the divider
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0px; // Reduced spacing between social icons

      a {
        font-size: 18px; // Adjust icon size
        color: #4d4d4e;

        &:hover {
          color: #35639A;
        }
      }
    }
  }

  @media screen and (max-width : 800px)   {
    .nav-bar { 
      background: transparent;
      position: initial;
      height: auto;
      min-height: auto;
  
       ul, nav {
        display: none;
       }
  
       nav {
        width: 100%;
        top: 0;
        left: 0;
        background: #181818;
        height: 100%;
        margin: 0;
        z-index: 2;
        position: fixed;
  
        &.mobile-show {
          display: block;
        }
  
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        a:after {
          opacity: 1;
          position: initial;
          width: auto;
          margin-left: 10PX;
        }
  
        a svg {
          opacity: 1 !important;
        }
        
       }
  
       .hamburger-icon,
       .close-icon {
          position: absolute;
          top: 15px;
          right: 15px;
          display: block;
       }
    }
  }

  .tooltip{
    font-size: 20px;
    @media screen and (max-width : 800px) {
      display: none;
    }
    @media screen and (min-width : 2000px) {
      font-size: 25px;
    }
      
}
