.container.contact-page{
  .text-zone{
    left: 5% !important;
    top: 30%;
  }
  .contact-form {
    width: 100%;
    margin-top: 20px;
    left: 10%;

    .flat-button {
      color: #ffd700;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid #ffd700;
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
    }
  }

  .container.contact-page p {
    font-size: 16px;
    @media screen and (min-width: 1081px) {
      // Styles for screens smaller than or equal to 800px
      font-size: 20px;
    }
    @media screen and (max-width: 800px) {
      // Styles for screens smaller than or equal to 800px
      font-size: 16px;
    }
  }

  h1{
    @media screen and (max-width: 800px) {
      // Styles for screens smaller than or equal to 800px
      top: 20px;
      width: 110%;
    }
  }
}